__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

venv/

.pytest_cache/

*.log


*.env
.env

.vscode/
.idea/

*.so
*.egg
*.egg-info/

build/
dist/
*.egg-info/
pip-wheel-metadata/

htmlcov/
.tox/
.coverage
.cache/
nosetests.xml
coverage.xml

# macOS files
.DS_Store
